<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <%= form_for(@post, url: posts_path)  do |f| %>

              <h3 class="ribbon4">全ての投稿へ投稿する</h3><br>
                    <p><%= f.radio_button :title, "生産者に質問" %>生産者に質問</p>
                    <p><%= f.radio_button :title, "生産者にメッセージ" %>生産者にメッセージ！</p>

              <h3 class="ribbon4">フォローしている生産者</h3><br>
                    <%= f.collection_select :follow_producer, @producers, :producer_name, :producer_name,{prompt: ""},{class: "parent"} %><br>

               <h3 class="ribbon4">フォローしている生産者の商品</h3><br>
<!--                   <% @producers.each do |producer| %>
                      <%= f.collection_select :follow_item, producer.products, :product_name, :product_name, {class: "children"}, data:{value: producer.producer_name} %>
                   <% end %> -->
                   <%= f.text_field :follow_item %><br>

              <h3 class="ribbon4">商品に対する要望など</h3><br>
                    <%= f.text_area :description %><br>
              <%= f.submit '投稿', :class=>"button"   %>

            <% end %>
            <script>
                  $(function() {
                    var $children = $('#post_follow_item');
                    var original = $children.html();

                  $('.parent').change(function() {
                  var val1 = $(this).val();

                    $children.html(original).find('option').each(function() {
                      var val2 = $(this).data('val');
                      if (val1 != val2) {
                        $(this).not('optgroup,.msg').remove();
                      }
                    });

                    if ($(this).val() === '') {
                      $children.attr('disabled', 'disabled');
                    } else {
                      $children.removeAttr('disabled');
                    }

                });
                });
            </script>
        </div>
    </div>
</div>