<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @map.comment %>
</p>

<p>
  <strong>Lonlat:</strong>
  <%= @map.lonlat %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
